
<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row" id="my-footer">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <img src="{{ site.baseurl }}/assets/images/logo-s1r-footer.png" class="logo" alt="logo-sistemi-1" style="width: 15rem;">
        <div class="text">Le persone sono la nostra tecnologia.</div>
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <h5>Link Utili</h5>
        <ul class="footer-nav">
          <li><a href="{{ site.baseurl }}/index.html"><i class="fa fa-angle-right"></i><span>Home</span></a></li>
          <li><a href="{{ site.baseurl }}/chi-siamo"><i class="fa fa-angle-right"></i><span>Chi siamo</span></a></li>
          <li><a href="{{ site.baseurl }}/contattaci"><i class="fa fa-angle-right"></i><span>Contatti</span></a></li>
          <li><a href="https://demo.jdeece.com/it/"><i class="fa fa-angle-right"></i><span>Prova Jdee CPQ</span></a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6">
        <h5>Servizi</h5>
        <ul class="footer-nav">
          <li><a href="{{ site.baseurl }}/servizi/grafica/web-design"><i class="fa fa-angle-right"></i><span>Web Design</span></a></li>
          <li><a href="{{ site.baseurl }}/servizi/sviluppo-software/soluzioni-personalizzate"><i class="fa fa-angle-right"></i><span>Sviluppo Software</span></a></li>
          <li><a href="{{ site.baseurl }}/servizi/marketing/digital-marketing"><i class="fa fa-angle-right"></i><span>Digital Marketing</span></a></li>
          <li><a href="{{ site.baseurl }}/configuratore-web-3d"><i class="fa fa-angle-right"></i><span>Configuratori CPQ</span></a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <h5>Contattaci</h5>
        <div class="address">
          <p>Viale di Vigna Pia 26<br>00149, Roma [RM]</p>
          <p>Telefono: 06 556 2250</p>
          <p><span>E-Mail:</span><a href="mailto:info@s1r.it">info@s1r.it</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">© Sistemi Uno Roma. - Viale di Vigna Pia 26, Roma [RM] 00149 - P.IVA: 05323701002</p>
      </div>
    </div>
  </div>
</footer>
<!-- ***** Footer End ***** -->