   
<!-- INIZIO FOOTER -->


<div id="footer" class="page__footer">
    <footer>
      <!-- start custom footer snippets -->

<!-- end custom footer snippets -->
      <div class="page__footer-follow">

</div>


<div class="container-footer w-container">
<div class="w-row">
  <div class="footer-column w-clearfix w-col w-col-4"><img src="/assets/images/logo-s1r-footer.png" alt="" width="200" class="failory-logo-image">
  </div>
  <div class="footer-column w-col w-col-8">
    <div class="w-row">
      <div class="w-col w-col-8">
        <div class="w-row">
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
            <!-- <h3 class="footer-titles">Scopri</h3>
            <p class="footer-links"><a href="/servizi/" target="_blank"><span class="footer-link">Servizi<br></span></a><a href="/soluzioni/"><span class="footer-link">Soluzioni<br></span></a><a href="/settori/"><span class="footer-link">Settori</span></a><span><br></span><a href="chi-siamo/"><span class="footer-link">Chi Siamo<br></span></a><a href="contattaci/"><span class="footer-link">Contattaci<br></span></a><a href="configuratore-web-3d/"><span class="footer-link">Configuratore Web 3D</span></a><strong><br></strong></p> -->
          </div>
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
            <h3 class="footer-titles">Altro</h3>
            <p class="footer-links"><a href="mailto:risorse@s1r.it"><span class="footer-link">Lavora con noi!<br></span></a>
            <a href="https://demo.jdeece.com/it/" target="_blank"><span class="footer-link">Prova il nostro configuratore Web<br></span></a>
          </div>
        </div>
      </div>
      <div class="column-center-mobile w-col w-col-4">
        <h3 class="footer-titles">Contattaci!</h3><a href="" target="_blank" class="footer-social-network-icons w-inline-block"></a>
        <a href="mailto:info@s1r.it" target="_blank" class="fas fa-envelope" style="color: white;"><span class="info-footer">info@s1r.it<br></span></a> 
        <a href="mailto:linkedin@s1r.it" target="_blank" class="fab fa-linkedin" style="color: white;"><span class="info-footer">linkedin@s1r.it<br></span></a> 
        <a class="fas fa-phone-alt" style="color: white;"><span class="info-footer">06 556 2250<br></span></a> 

        <!-- <p class="footer-description">Scrivici: <a href=""><strong class="link-email-footer"><a href="mailto:info@s1r.it">info@s1r.it</a></strong></a><br></p> -->
      </div>
    </div>
  </div>
</div>
</div>

<div class="page__footer-copyright">&copy; <strong>Sistemi Uno Roma. - </strong> Viale di Vigna Pia 26, Roma [RM] 00149 <strong> - P.IVA: </strong> 05323701002 </a></div>

    </footer>
  </div>

  <!-- FINE FOOTER -->
