<!--blocco vecchio form
<form id="my-form" action="https://formspree.io/f/xzbozbbe" method="POST">
    <h3 style="margin-bottom: 1rem;"> Scrivici un messaggio e ti risponderemo al piú presto!</h3>
    <label>Email:</label>
    <input type="email" name="email" class="boxcontenuti"/>
    <label>Messaggio:</label>
    <input type="text" name="message" class="boxcontenuti"/>
    <label> Il tuo numero di telefono:</label>
    <input type="tel" name="telephone" class="boxcontenuti">


    <button class="button btn btn--primary" id="my-form-button">Invia</button>
    <p id="my-form-status"></p>
</form>



<script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("my-form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            status.innerHTML = "Grazie, verrai ricontattato entro 48 ore!";
            form.reset()
        }).catch(error => {
            status.innerHTML = "Oops! C'è stato un problema con il tuo form!"
        });
    }
    form.addEventListener("submit", handleSubmit)
</script>


<style>

    .boxcontenuti {
        border: #a8a6a6;
        border-radius: 3px;
        border-style: solid;
        border-width: thin;
    }
   #my-form-button{
       margin-top: 1rem;
       font-size: 13pt;
       min-width: 6rem;
   }
</style>

-->
<script>  function enableBtn() {
    document.getElementById("mc-embedded-subscribe").disabled = false;
}
</script>
<!-- form nuovo -->
<form action="?" id="contact_form_id" method="post" target="_blank">
    <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk"></span></div>
        <div class="mc-field-group">
            <label for="mce-EMAIL">Indirizzo Email <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="email" class="required email" id="mce-EMAIL" aria-required="true">
        </div>
        <div class="mc-field-group">
            <label for="mce-FNAME">Nome </label>
            <input type="text" value="" name="nome" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
            <label for="mce-LNAME">Cognome </label>
            <input type="text" value="" name="cognome" class="" id="mce-LNAME">
        </div>
        <div class="mc-field-group size1of2">
            <label for="mce-PHONE">Numero di telefono (opzionale) </label>
            <input type="text" name="numero" class="valid" value="" id="mce-PHONE" aria-invalid="false">
        </div>
        <div class="mc-field-group">
            <label for="mce-MMERGE5">Messaggio </label>
            <textarea type="text" value="" name="messaggio" cols="5" id="mce-MMERGE5"></textarea>
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LfyriIiAAAAAGAF10NuDtxx6Bnp_5-Ay7PHPmVA"
             data-callback="enableBtn"></div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text"
                   name="b_81b3a86de0505e7fcc96aa56f_dd9448b520"
                   tabindex="-1" value=""></div>
        <div class="clear">
            <input type="submit" value="Contattaci subito" name="subscribe" disabled="disabled"
                   id="mc-embedded-subscribe"
                   class="button btn btn--primary">
        </div>
        <input type="hidden" name="recaptcha" id="captcha_token" value="" >
        <div class="alert alert-success" role="alert" id="success_alert" style="display: none;">
            Richiesta inviata!
        </div>
    </div>
</form>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>


    $('#contact_form_id').submit(function (e) {
        e.preventDefault();
        if(grecaptcha.getResponse() !== ''){
            $('#captcha_token').val(grecaptcha.getResponse())
            $.ajax({
                type: 'POST',
                url: 'https://portale.s1r.it/api/richiesta/',
                data: $(this).serialize(),
                success: function (response) {
                    $('#success_alert').show();
                }
            });
        }


    })
</script>
<!-- fine form nuovo-->