<form id="my-form" action="https://formspree.io/f/xzbozbbe" method="POST">
    <h3 style="margin-bottom: 1rem;"> Scrivici un messaggio e ti risponderemo al piú presto!</h3>
    <label>Email:</label>
    <input type="email" name="email" class="boxcontenuti"/>
    <label>Messaggio:</label>
    <input type="text" name="message" class="boxcontenuti"/>
    <label> Il tuo numero di telefono:</label>
    <input type="tel" name="telephone" class="boxcontenuti">


    <button class="button btn btn--primary" id="my-form-button">Invia</button>
    <p id="my-form-status"></p>
</form>



<script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
        event.preventDefault();
        var status = document.getElementById("my-form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            status.innerHTML = "Grazie, verrai ricontattato entro 48 ore!";
            form.reset()
        }).catch(error => {
            status.innerHTML = "Oops! C'è stato un problema con il tuo form!"
        });
    }
    form.addEventListener("submit", handleSubmit)
</script>


<style>

    .boxcontenuti {
        border: #a8a6a6;
        border-radius: 3px;
        border-style: solid;
        border-width: thin;
    }
   #my-form-button{
       margin-top: 1rem;
       font-size: 13pt;
       min-width: 6rem;
   }
</style>