<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
	<div class="container">
		<!-- ***** Section Title Start ***** -->
		<div class="row">
			<div class="col-lg-12">
				<div class="center-heading">
					<h2 class="section-title">Tutti i servizi del tuo studio</h2>
				</div>
			</div>
		</div>
		<!-- ***** Section Title End ***** -->

		<div class="row">
			<!-- ***** Pricing Item Start ***** -->
			<div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
				<div class="thumbnail">
					<div>
						<h3 class="titolo-thumbnail">CONTABILITA'</h3>
					</div>
					<div class="testo-thumbnail">
							<p>Tutto ciò che ti serve per i servizi di
								contabilità ordinaria, semplificata,
								professionisti e la gestione degli
								adempimenti collegati.
							</p>
					</div>
					<div>
						<a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
					</div>
				</div>
			</div>
			<!-- ***** Pricing Item End ***** -->

			<!-- ***** Pricing Item Start ***** -->
			<div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
				<div class="thumbnail">
					<div>
						<h3 class="titolo-thumbnail">SERVIZI FISCALI</h3>
					</div>
					<div class="testo-thumbnail">
						<p>Tutte le dichiarazioni che servono ai
							tuoi clienti, compreso il consolidato
							fiscale, con la tranquillità di essere
							sempre aggiornati.
						</p>
					</div>
					<div>
						<a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
					</div>
				</div>
			</div>
			<!-- ***** Pricing Item End ***** -->
			<!-- ***** Pricing Item Start ***** -->
			<div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
				<div class="thumbnail">
					<div>
						<h3 class="titolo-thumbnail">SERVIZI DIGITALI</h3>
					</div>
					<div class="testo-thumbnail">
						<p>Servizi innovativi e personalizzati
							per i clienti che devono affrontare
							la fatturazione elettronica e il tuo
							sostegno per la loro crescita verso
							il digitale.</p>
					</div>
					<div>
						<a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
					</div>
				</div>
			</div>
			<!-- ***** Pricing Item End ***** -->
			<!-- ***** Pricing Item Start ***** -->
			<div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
				<div class="thumbnail">
					<div>
						<h3 class="titolo-thumbnail">BILANCI E SERVIZI DI ANALISI</h3>
					</div>
					<div class="testo-thumbnail">
						<p>Strumenti avanzati per elaborare
							automaticamente i bilanci,
							d’esercizio, periodici e consolidati
							e trasformare un obbligo
							in opportunità di servizio.</p>
					</div>
					<div>
						<a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
					</div>
				</div>
			</div>
			<!-- ***** Pricing Item End ***** -->
		</div>
	</div>
</section>
<!-- ***** Pricing Plans End ***** -->