<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h3 class="section-title" style="font-size: 20px !important; margin-top: -4rem!important; font-weight: 500;}">La soluzione Jdee fa leva su quattro punti di forza fondamentali in grado di assolvere tutte le problematiche tipiche di un configuratore on line:</h3>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">INTERFACCIA GRAFICA 2D/3D</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Jdee può lavorare indifferentemente con semplici immagini bidimensionali o modelli tridimensionali, garantendo così per ogni tipo di prodotto il giusto peso alla sua rappresentazione grafica che avrà sempre il corretto impatto emotivo sull’utilizzatore finale.
                        </p>
                    </div>
                    <div>
                        <a href="https://configuratore.com/" class="pulsante-thumbnail">Provalo!</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">ASPETTO TECNICO</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p> Pur senza implementare tutte le complessità di un configuratore tecnico, Jdee è un configuratore web 3d in grado di trasmettere all’azienda ordini completi della distinta base di tutti i componenti e lavorazioni necessari per la realizzazione del prodotto richiesto.
                        </p>
                    </div>
                    <div>
                        <a href="https://configuratore.com/" class="pulsante-thumbnail">Provalo!</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">B2B/B2C CON ECOMMERCE INTEGRATO</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Jdee può essere utilizzato nelle due modalità operative fornendo, nel caso b2c, una gestione completa della transazione fino all’incasso con carta di credito o PayPal. Nella funzionalità b2b Jdee consente la gestione di listini per cliente, indirizzi di consegna e tutto ciò che consente la gestione di clienti abituali.
                        </p>
                    </div>
                    <div>
                        <a href="https://configuratore.com/" class="pulsante-thumbnail">Provalo!</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">CMS O API REST</h3>
                    </div>
                    <div class="testo-thumbnail">
<p> Il configuratore di prodotto 3d Jdee può essere implementato in modo autonomo consentendo per mezzo di un modulo CMS integrato una realizzazione semplice e veloce di pagine web di elevata qualità, ma in alternativa può essere integrato all’interno di siti e strutture già esistenti per mezzo di API Rest implementate nel sistema.
</p>
                    </div>
                    <div>
                        <a href="https://configuratore.com/" class="pulsante-thumbnail">Provalo!</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->