<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Tutte le attività del tuo studio</h2>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">AMMINISTRAZIONE DEL PERSONALE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>L’Amministrazione del Personale comprende tutte le funzioni
                            connesse alle elaborazioni &#8220;obbligatorie&#8221;,
                            dal Libro Unico del Lavoro, all&#8217;UNIEMENS,
                            alla gestione dei fondi pensione, alla CU-Certificazione Unica,
                            all&#8217;Autoliquidazione INAIL, ecc…
                            Tutte le funzioni di JOB sono totalmente integrate.
                            Una volta elaborato il cedolino del dipendente,
                            si disporrà sempre di tutti i dati necessari per le nuove elaborazioni.

                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">CONTROLLO DI GESTIONE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Con i moduli Analisi Costo del Personale e Budget
                            è possibile fornire ogni tipo di elaborato di supporto
                            al management dell’azienda. La completa integrazione con
                            le altre gestioni garantisce precisione dei risultati,
                            rapidità nell&#8217;esecuzione dei calcoli, senza l&#8217;
                            utilizzo di procedure di importazione/esportazione dati.

                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">PRATICHE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>JOB consente di gestire in maniera semplice e
                            completa tutte le pratiche relative al rapporto
                            fra le aziende, i loro dipendenti e gli enti.
                            Grazie alla compilazione automatica delle pratiche
                            con i dati già presenti nella procedura, JOB/Pratiche
                            consente un notevole risparmio di tempo nella
                            predisposizione dei singoli adempimenti, garantendo
                            una miglior efficienza operativa ed una notevole
                            semplificazione del lavoro. Le pratiche sono composte
                            da comunicazioni in forma di lettere e modulistica.
                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">FISCALE</h3>
                    </div>
                    <p>L&#8217;Area Fiscale gestisce i modelli dichiarativi
                        730 e 770 in un unico ambiente di lavoro. L&#8217;
                        inserimento dei dati avviene in modo facilitato grazie
                        ad un&#8217;impostazione grafica simile a quella prevista
                        nel modello ministeriale, mentre un pannello di controllo
                        consente di monitorare lo stato di avanzamento.
                        E’ possibile scegliere tra diverse modalità di utilizzo
                        del software gestionale, licenza d’uso o Cloud, e individuare
                        in maniera ancora più precisa, all&#8217;interno dell’ampia
                        offerta, lo strumento di lavoro che meglio risponde alle
                        necessità organizzative.
                    </p>
                    <div class="testo-thumbnail">
                            riguardanti l’andamento
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">SICUREZZA INFORMATICA AZIENDALE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Forniamo consulenza e strumenti software per proteggere
                            l’accesso a reti e risorse aziendali con sistemi di autenticazione
                            ultra- sicura per garantire la conformità al nuovo Regolamento
                            Europeo per la Protezione dei dati Personali (GDPR) 2016/679.
                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">DESLOCK + DATA ENCRYPTION</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Codifica tutti i tipi di dati sensibili per l’azienda e gestisce in remote tutti gli utenti e le workstation aziendali.
                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->