<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Le soluzioni integrate</h2>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">CONTROLLO DI GESTIONE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Realizza il sistema di controllo
                            partendo dai dati di gestione,
                            a ‘costo zero’.
                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">DICHIARATIVI FISCALI</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Gestisci tutti gli adempimenti
                            fiscali periodici e annuali con la
                            tranquillità della normativa sempre
                            aggiornata.
                        </p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">PAGHE E RISORSE UMANE</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Gestisci le paghe, tutti gli
                            adempimenti e i dati delle tue
                            risorse.</p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-6 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="thumbnail">
                    <div>
                        <h3 class="titolo-thumbnail">BILANCI PERIODICI E DI SERVIZIO</h3>
                    </div>
                    <div class="testo-thumbnail">
                        <p>Elabora i bilanci sia in forma
                            ordinaria che abbreviata, dai dati
                            contabili.</p>
                    </div>
                    <div>
                        <a href="mailto:info@s1r.it" class="pulsante-thumbnail">Richiedi Info</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->