---
# Only the main Sass file needs front matter (the dashes are enough)
---


.toc .nav__title {
  background-color: #891626 !important;
}

/* ICONA BURGER MENU */

.navicon {
  background: #891626 !important;
}

.navicon:before, .navicon:after {
  background: #891626!important;
}

/*ICONA BURGER MENU*/

button.greedy-nav {
  color: #891626 !important;


}


.fa-search {
	color: #891626;
}

.greedy-nav .visible-links a:before {
  background-color: #891626 !important;
}

.btn--primary {
        background-color: #891626 !important;


}

#footer {



	background-color: #891626;
}


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



