---
# Only the main Sass file needs front matter (the dashes are enough)
---


.centra-pulsante{
  display: block!important;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.page__hero--overlay .page__title{
 text-shadow: none!important;
}

body{
  background-color:white;
}


.margin-left{
  margin-left: 1.2rem;
}

.banner{
  width: 100%;
}

.icona {
  max-width:20%;
  float:left;
  margin-right: 1rem;
  
}

.greedy-nav a.site-title{
  display: none!important;
}

.site-logo img {
  max-height: 4rem!important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toc .nav__title {
  background-color: #891626 !important;
}

/* ICONA BURGER MENU */

.navicon {
  background: #891626 !important;
}

.navicon:before, .navicon:after {
  background: #891626!important;
}

.greedy-nav{
  background-color: white!Important;
}


/*ICONA BURGER MENU*/

button.greedy-nav {
  color: #891626 !important;
}

.fa-search {
	color: #891626;
}

.greedy-nav .visible-links a:before {
  background-color: #891626 !important;
}

.btn--primary {
        background-color: #891626 !important;


}

#footer {



	background-color: #891626;
}


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



