---
layout: default
---

<!--{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}-->
<!--{% include page__hero.html %}-->
<!--{% elsif page.header.video.id and page.header.video.provider %}-->
<!--{% include page__hero_video.html %}-->
<!--{% endif %}-->

<!--<div id="main" role="main">-->
<!--    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">-->
<!--        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}-->
<!--        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}-->
<!--        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}-->
<!--        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}-->

<!--        <section class="page__content" itemprop="text">-->
<!--            {{ content }}-->
<!--        </section>-->
<!--    </article>-->
<!--</div>-->

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}



<!--&lt;!&ndash; ***** Preloader Start ***** &ndash;&gt;-->
<!--<div id="preloader">-->
<!--    <div class="jumper">-->
<!--        <div></div>-->
<!--        <div></div>-->
<!--        <div></div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; ***** Preloader End ***** &ndash;&gt;-->


<!-- ***** Header Area End ***** -->


<section class="page">
    <!-- ***** Page Top Start ***** -->
    <div class="cover" data-image="{{ site.baseurl }}/assets/images/photos/header-min.jpg">
        <div class="cover-top">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <h1>Web Design Portfolio</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="{{ site.baseurl }}/index">Home</a></li>
                            <li><a href="#">Servizi</a></li>
                            <li><a href="{{ site.baseurl }}/servizi/grafica/web-design">Web Design</a></li>
                            <li class="active">Portfolio</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Page Top End ***** -->


    <!-- ***** Page Content Start ***** -->
    <div class="page-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="{{ site.baseurl }}/servizi/grafica/web-design/" class="services-post">
                        <div class="img">
                            <img src="{{ site.baseurl }}/assets/images/photos/web-design.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <h3>Web Design</h3>
                            <div class="text" id="box-text">
                                La tua attivitá ha bisogno di un nuovo sito web dal design accattivante o cerchi una vetrina online per il tuo shop? Sistemi Uno Roma ha la soluzione per te.                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="{{ site.baseurl }}/servizi/grafica/brand-design" class="services-post">
                        <div class="img">
                            <img src="{{ site.baseurl }}/assets/images/photos/brand-design.jpg" alt="brand design">
                        </div>
                        <div class="post-content">
                            <h3>Brand Design</h3>
                            <div class="text" id="box-text">
                                L'apparenza conta. Dai al tuo brand una identitá difficile da dimenticare e inizia a guadagnare.
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="{{ site.baseurl }}/servizi/grafica/editoria" class="services-post">
                        <div class="img">
                            <img src="{{ site.baseurl }}/assets/images/photos/design-editoriale.jpg" alt="deisgn editoriale">
                        </div>
                        <div class="post-content">
                            <h3>Editoria</h3>
                            <div class="text" id="box-text">
                                Hai scritto un libro ? Hai bisogno di una copertina dal design accattivante? Di qualcuno che si occupi di impaginare il tuo manoscritto? Ci pensiamo noi.                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="#" class="services-post">
                        <!--                        <a href="{{ site.baseurl }}/servizi/grafica/modellazione-3d" class="services-post">-->
                        <div class="img">
                            <img src="{{ site.baseurl }}/assets/images/photos/modellazione-3d.JPG" alt="modellazione">
                        </div>
                        <div class="post-content">
                            <h3>Modellazione 3d</h3>
                            <div class="text" id="box-text">
                                Realizziamo progetti di modellazione tridimensionale su commissione, per stampanti 3D e per il web. Prova anche il nostro nuovo configuratore 3D.                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Page Content End ***** -->
</section>


<!-- ***** Parallax Start ***** -->
<section class="parallax" data-image="{{ site.baseurl }}/assets/images/photos/parallax.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <small>METTITI IN CONTATTO CON NOI</small>
                        <strong>Che tu sia interessato ad un preventivo, una collaborazione, o semplicemente ad avere ulteriori informazioni su uno dei prodotti o servizi di Sistemi Uno Roma, saremo lieti di rispondere a ogni tua esigenza.  </strong>
                        <a href="{{ site.baseurl }}/contatti" class="btn-white-line">Contattaci</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Parallax End ***** -->
